body {
    font-family: 'Times New Roman', Times, serif;
    padding: 0px;
    margin: 0;
}
header {
	background-color: #362503;
	color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
    font-size: 18px;/*El predeterminado es de 16px*/
    font-family: 'Times New Roman', Times, serif; /*Tipo de Letra*/
}
.linea-verde{ /*Esta es un class en un <hr> para poner la línea verde*/
    border: none;
    margin: 0;
    border-top: 5px solid #0C833A;
}

.items-izq{
    display: flex;
    align-items: center;
}

.items-izq img {
    width:120px;
    margin-left: 20px;
}

.items-izq a p{
    padding: 5px;
    background-color: 	#8B0000;
    color:white;
    display:inline;
    border: 1px solid 	#8B0000;
    border-radius: 10px;
    margin-left: 10px;
}

.items-izq a{
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 30px;
}
.items-der nav ul {
    align-items: center;
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.items-der nav ul li {
    display: inline;
	margin-right: 30px;
}
.items-der nav ul li a img{/*Para el Logo de Ingresa o Registrate*/
    width: 20px;
    height: auto;
    margin-right: -8px;
}
.items-der nav ul li a {
    text-align: center;
	color: #FFFFFF;
	text-decoration: none;
}

.fondo{
    background: #FEF4E0;
    padding-bottom: 30px;
}

.fondo h1 {
    text-align: center;
    margin: 0;
    padding: 35px;
    border-bottom: 1px solid #ddd;
}
.sedes-polleria {
    display: flex;
    flex-wrap: wrap;
}
.sede {
    flex: 1 0 30%;
    align-items: center;
    width: 35%;
    text-align: center;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}
.sede img {
    width: 80%;
    border-radius: 10px;
    margin-bottom: 10px;
}

footer{
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #362503;
    padding: 29px;
    color: #FFFFFF;
    text-align: center;
}