body {
    background: #FEF4E0;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #362503;
      color: #FFFFFF;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
    font-size: 18px;/*El predeterminado es de 16px*/
    font-family: 'Times New Roman', Times, serif; /*Tipo de Letra*/
    /*font-weight: 800;*/
  }
  .linea-verde{ /*Esta es un class en un <hr> para poner la línea roja*/
    border: none;
    margin: 0;
    border-top: 5px solid #0C833A;
  }
  
  .items-izq{
    display: flex;
    align-items: center;
  }
  .items-izq img{
    width:12%;
    height: auto;
  }
  .items-izq a p{
    padding: 5px;
    background-color: 	#8B0000;
    color:white;
    display:inline;
    border: 1px solid 	#8B0000;
    border-radius: 10px;
    margin-left: 10px;
  }
  
  .items-izq a{
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 30px;
  }
  
  .items-der nav ul {
    align-items: center;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  }
  .items-der nav ul li {
    display: inline;
   margin-right: 30px;
  }
  .items-der nav ul li a img{/*Para el Logo de Ingresa o Registrate*/
    width: 20px;
    height: auto;
    margin-right: -8px; 
  }
  .items-der nav ul li a {
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
  }
  
  .secciones nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #FBA500;
  }
  
  .secciones nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .secciones nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
  }
  
  .secciones nav ul li a:hover {
    background-color: #ddd;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  footer{
    font-size: 19px;/*El predeterminado es de 16px*/
    font-family: 'Times New Roman', Times, serif; /*Tipo de LetraS*/
    background-color: #362503; /*Color Rojo Oscuro: #8B0000*/
    padding: 29px;
    color: #FFFFFF;
    text-align: center;
  }