body {
    font-family: 'Times New Roman', Times, serif;
    padding: 0px;
    margin: 0;
}
header {
	background-color: #362503;
	color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
    font-size: 18px;/*El predeterminado es de 16px*/
    font-family: 'Times New Roman', Times, serif; /*Tipo de Letra*/
}
.linea-verde{ /*Esta es un class en un <hr> para poner la línea verde*/
    border: none;
    margin: 0;
    border-top: 5px solid #0C833A;
}

.items-izq{
    display: flex;
    align-items: center;
}

.items-izq img {
    width:120px;
    margin-left: 20px;
}

.items-izq a p{
    padding: 5px;
    background-color: 	#8B0000;
    color:white;
    display:inline;
    border: 1px solid 	#8B0000;
    border-radius: 10px;
    margin-left: 10px;
}

.items-izq a{
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 30px;
}
.items-der nav ul {
    align-items: center;
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.items-der nav ul li {
    display: inline;
	margin-right: 30px;
}
.items-der nav ul li a img{/*Para el Logo de Ingresa o Registrate*/
    width: 20px;
    height: auto;
    margin-right: -8px;
}
.items-der nav ul li a {
    text-align: center;
	color: #FFFFFF;
	text-decoration: none;
}

.fondo{
    padding: 150px 0;
    background: #FEF4E0;
}




.lista-detalles-producto {
    padding-top: 100px;
    width: 250px;
    background-color: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 10px;
    
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
    padding: 20px;
    text-align: center;
  }
  
.lista-detalles-producto img {
    border: 1px solid #000000;
    border-radius: 10px;
    width: 80%;
}
  
.boton-volver {
    padding: 8px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 8px;
    border: 1px solid #000000;
    margin: 0 10px;
}
    
.boton-volver a{
    text-decoration: none;
    color:#000000;
}








footer{
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #362503;
    padding: 29px;
    color: #FFFFFF;
    text-align: center;
}