body {
    font-family: Arial, sans-serif;
    padding: 0px;
    margin: 0;
}
header {
	background-color: #362503;
	color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
    font-size: 18px;/*El predeterminado es de 16px*/
    font-family: 'Times New Roman', Times, serif; /*Tipo de Letra*/
    /*font-weight: 800;*/
}
.linea-verde{ /*Esta es un class en un <hr> para poner la línea roja*/
    border: none;
    margin: 0;
    border-top: 5px solid #0C833A;
}
.imagen_fondo {
    position: relative;
    background-image: url("Recursos/ColorFondo.png");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 385px 0;
}
.contenido{
    position: absolute;
    top: 5%;
    left: 38%;
    width: 400px;
    background: white;
    border-radius: 10px;
    font-size: 18px;/*El predeterminado es de 16px*/
    font-family: 'Times New Roman', Times, serif; /*Tipo de LetraS*/
    border: 2px solid #362503;
    font-weight: 600;
}
.contenido h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}
.contenido form{
    padding: 0 48px 0 40px;
    box-sizing: border-box;
}
.items-izq{
    display: flex;
    align-items: center;
}
.items-izq img {
    width:120px;
    margin-left: -10px;
}
.items-izq a p{
    padding: 5px;
    background-color: 	#8B0000;
    color:white;
    display:inline;
    border: 1px solid 	#8B0000;
    border-radius: 10px;
    margin-left: 10px;
}

.items-izq a{
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 30px;
}
.items-der nav ul {
    align-items: center;
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.items-der nav ul li {
	margin-right: 30px;
}
.items-der nav ul li a img{/*Para el Logo de Ingresa o Registrate*/
    width: 20px;
    height: auto;
    margin-right: -8px;
}
.items-der nav ul li a {
    text-align: center;
	color: #FFFFFF;
	text-decoration: none;
}
form {
    max-width: 400px;
    margin: 0 auto;
}
label {
    display: block;
    margin-bottom: 10px;
}
  
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #362503;
}
  
button[type="submit"] {
    background-color: #0C833A;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
  
button[type="submit"]:hover {
    background-color: #0C833A;
}

.boton_registrar{
    transform: translate(109%,30%);
    border-radius: 10px;
    font-size: 17px;/*El predeterminado es de 16px*/
    font-family: 'Times New Roman', Times, serif; /*Tipo de LetraS*/
}
.tienes-cuenta{
    margin-left: 10px;
    margin-top:30px;
    text-align: center;
}
.tienes-cuenta a{
    text-decoration: none;
    font-style: italic;
    color: #8B0000;
}
footer{
    font-size: 19px;/*El predeterminado es de 16px*/
    font-family: 'Times New Roman', Times, serif; /*Tipo de LetraS*/
    background-color: #362503; /*Color Rojo Oscuro: #8B0000*/
    padding: 29px;
    color: #FFFFFF;
    text-align: center;
}
